@font-face{
    font-family: farsi;
    src: url(../font/iranyekanwebbold.cfb6e26c.woff2);
    src: url(../font/iranyekanwebextrabold.9346e9a2.woff);
    src: url(../font/iranyekanwebmedium.2d4f96e5.woff);
    src: url(../font/iranyekanwebregular.e31c09af.woff2);
}


*{
    direction: rtl;
    font-family: farsi;
    box-sizing: border-box    
}

body {
    font-size: 16px;

}

a {
    text-decoration: none;
    font-size: 16px;
}